<br />

<br />

<br />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rails Todo List App</title>
    <style>
    body{
        background-color : black;
    }
    h1 , h3 , p{
        color : snow ;
    }
    </style>
</head>
<body>
    <img src="https://images.pexels.com/photos/372748/pexels-photo-372748.jpeg" class="img-fluid">
    <center>
        <h1>Rails Todo list Web Application</h1>
        <br />
        <h3> Write Your Todo Here ! </h3>
        <p> Write Your Important works online , prevent to forget them , and access them everywhere ! </p>

        <%= link_to 'Start Writing Your Todos !' , todos_path , class:'btn btn-primary' %>
    </center>
</body>
</html>